.make-your-question {
  display: flex;
  flex-direction: column;
  color: white;

  h3 {
    font-size: 1.375rem;
    font-weight: 600;
  }

  h5 {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.2rem;
  }

  span {
    height: 40px;
    padding: 0 1rem;
    margin-top: 0.625rem;
    display: flex;
    background-color: #2372E7;
    border-radius: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    p {
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 2px;
    }
  }
}