header {
  width: 100%;
  margin: .5rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.375rem;

  .search-input-container {
    width: 45%;
  }
  .icons-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
}