main {
  color: white;
  display: flex;
  gap: 1.5rem;
  justify-content: center;

  .main-content {
    width: 835px;
    display: flex;
    flex-direction: column;
    background-color: #191D2C;
    padding: 0 4rem;
    border-radius: 1rem;

    section {
      display: flex;
      flex-direction: column;
      gap: 1.875rem;
      padding: 3rem 0;

      .new-question-input {
        input, textarea{
          outline: none;
          border: 0;
          background-color: #191D2C;
          color: white;
          padding: 1px 2px;
          font-size: 100%;

          &::placeholder {
            color: #6B7280;
            font-weight: 400;
          }
        }
        
        .title-input {
          width: 100%;
          font-size: 2rem;
          font-weight: 700;
          word-wrap: break-word;
          min-height: 42px;
          max-height: 42px;
          resize: none;

          &::placeholder {
            font-weight: 700;
          }
        }
      }
    }
  }
}

.markdown-body p {
  margin-top: .5em;
  margin-bottom: .5em;
}
.markdown-body ul {
  margin-top: .5em;
  margin-bottom: .5em;
  list-style: disc outside none;
}

.markdown-body ul li {
  margin-left: 1em;
  display: list-item;
  text-align: -webkit-match-parent;
}
.markdown-body h1 {
  margin-top: 1.5rem;
}
.markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
  margin-top: 1em;
  margin-bottom: .5em;
}

.markdown-body blockquote {
  display: flex;
  gap: 1rem;
  margin-top: 1em;
  margin-bottom: .5em;
  color: #9CA3AF;

  &::before {
    content: "";
    width: 4px;
    border-radius: 32px;
    background-color: #D9D9D9;
  }
}

header {
  width: 100%;
  margin: .5rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .page-title-container {
    width: 45%;

    h3 {
      color: white;
      font-size: 20px;
      font-weight: 700;
    }
  }
  .icons-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
}


