.feed-content {
  background-color: #191D2C;

  a .post:hover {
    background-color: #1f2436;
    cursor: pointer;

    .post-bottom button:not(:hover) {
      background-color: #1f2436;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
}