.stats-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  span {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    p {
      font-size: 1rem;
      font-weight: 500;
    }
  }
}