.selected-course-container {
  width: min-content;
  padding: .375rem 1rem;
  background-color: #24293D;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: .875rem;

  span {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    text-wrap: nowrap;
  }

  button {
    display: flex;
    align-items: center;
    height: fit-content;
    outline: none;
    background-color: #24293D;
    border: none;
  }
}