form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 2.25rem;
  }

  .submit-div {
    width: 100%;
    margin-top: 1.5rem;
  }

  .login-link {
    color: rgba(255, 255, 255, 0.8);
    font-size: .75rem;
    font-weight: 400;
    align-self: center;
    display: flex;
    gap: .25rem;
    margin-top: .625rem;

    a {
      display: flex;
      align-items: center;
      gap: .5rem;
      color: #ffffff;
      text-decoration: none;
      font-weight: 600;
    }
  }
}