.question {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  background-color: #24293d;
  padding: 1rem;
  border-radius: 16px;

  .question-header {
    .info {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    color: white;
  }
  .question-content {
    color: white;
    word-wrap: break-word
  }
  .question-button {
    width: 200px;
    align-self: flex-end;
  }
}