main {
  display: flex;
  justify-content: center;

  .main-container {
    width: 835px;
    display: flex;
    flex-direction: column;
    background-color: #191D2C;
    border-radius: 1rem;
    
  
    .main-header {
      display: flex;
      gap: 2rem;
      color: white;
      padding: 1rem;
      .back-icon {
        width: 30px;
        height: 20px;
        color: white;
        transform: rotate(180deg);
      }
    }

    .question-container {
      display: flex;
    }

    .stuukes-title {
      margin: 1rem;
      h2 {
        color: white;
      }
    }
  }
}
