main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;

  .main-container {
    width: 420px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 6rem;

    .title-container {
      display: flex;
      flex-direction: column;
      color: #ffffff;
      gap: .75rem;

      h1 {
        font-size: 1.75rem;
        font-weight: 600;
        text-align: center;
        line-height: 120%;
      }
      h5 {
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        width: 90%;
      }
    }
  }
}