.popover-root {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #191D2C;
  border: 1px solid #0000113a;
  border-radius: .5rem;
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';;

  span {
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 1px solid #24293D;
  }

  .popover-list {
    .popover-item {
      padding: 1rem 1rem;
      border-radius: 8px;

      h5 {
        font-size: .875rem;
        font-weight: 500;
      }

      &:not(.error):hover {
        background-color: #24293D;
        cursor: pointer;

        h5 {
          color: #3E84FF;
        }
      }
    }
  }
}