.post {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  // border-bottom: 1px solid #24293D;
  transition: all 150ms ease-in-out;

  .post-header {
    display: flex;
    align-items: center;
    gap: .5rem;

    .info {
      display: flex;
      gap: .26rem;
      align-items: center;
      font-size: 1rem;
      .username {
        font-weight: 500;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .date {
        font-weight: 400;
        color: #d9d9d9;
      }
      .dot {
        font-size: 1rem;
        color: #d9d9d9;
      }
    }
    color: white;
  }

  .stuuke-content {
    gap: 1rem;
  }

  .post-content {
    display: flex;
    flex-direction: column; 
    color: white;
    word-wrap: break-word;
    margin: 0 20px 0 40px;
    font-size: 1.25rem;
    line-height: 1.5;
    
    h5 {
      font-size: 1.25rem;
      font-weight: 700;
    }

    .markdown-body p {
      margin-top: .5em;
      margin-bottom: .5em;
    }
    .markdown-body ul {
      margin-top: .5em;
      margin-bottom: .5em;
      list-style: disc outside none;
    }
    
    .markdown-body ul li {
      margin-left: 1em;
      display: list-item;
      text-align: -webkit-match-parent;
    }
    .markdown-body h1 {
      margin-top: 1.5rem;
    }
    .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
      margin-top: 1em;
      margin-bottom: .5em;
    }

    .markdown-body blockquote {
      display: flex;
      gap: 1rem;
      margin-top: 1em;
      margin-bottom: .5em;
      color: #9CA3AF;
    
      &::before {
        content: "";
        width: 32px;
        border-radius: 32px;
        background-color: #D9D9D9;
      }
    }

  }
  .post-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;

    .tags-container {
      display: flex;
      margin-left: 40px;
      gap: 0.875rem;

      .tag {
        display: flex;
        padding: 0.375rem 0.75rem;
        justify-content: center;
        align-items: center;
        border-radius: 32px;
        background-color: #3A4058;
        box-shadow: -1px 1px 0px 0px #186AB5;
        color:#D9D9D9;
        font-size: 0.85rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;

        &:hover {
          background-color: #4a516d;
        }
      }
    }

    button {
      width: 150px;
      border-radius: 50px;
      border: 2px solid #246DED;
      color: #246DED;
      font-size: 1.01rem;
      font-weight: 600;
      background-color: #191D2C;
      padding: .5rem 1.375rem;
      cursor: pointer;
      transition: all 150ms ease-in-out;

      &:hover {
        color: white;
        background-color: #246DED;
      }
    }
    
  }
}