main {
  color: white;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.feed {
  display: flex;
  flex-direction: column;
  width: 835px;
}

.left-aside {
  width: 280px;
}

.right-aside {
  width: 360px;

  .user-profile {
    display: flex;
    flex-direction: column;
    background-color: #191D2C;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    gap: 1.5rem;

    .user-info-content {
      display: flex;
      align-items: center;
      gap: 1.375rem;

      .user-info {
        display: flex;
        flex-direction: column;
        gap: 0.375rem;
        align-items: flex-start;

        .username {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }
}