main {
  color: white;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.feed {
  display: flex;
  flex-direction: column;
  width: 835px;
}

.left-aside {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.right-aside {
  display: flex;
  flex-direction: column;
  
}